<section id="tos" class="max-w-[70ch] mx-auto space-y-5 py-12 px-8 my-12 max-h-dvh font-serif">

  <h2 class="text-3xl font-medium italic text-center drop-shadow">
    Term of Service
  </h2>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis ratione iure perspiciatis, illo fuga reprehenderit iusto adipisci! Eum quia porro velit numquam tenetur dolor, aspernatur nostrum eos reprehenderit, magnam nesciunt.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, corporis suscipit. Nostrum obcaecati aspernatur laborum accusantium dolorum magnam consectetur quas corporis culpa pariatur cum, nemo voluptas cupiditate quisquam veritatis quasi?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a distinctio adipisci possimus culpa soluta provident numquam, corporis iste nemo dolorem perspiciatis quis dicta iure officiis eum unde totam repellendus.
  </p>

</section>