---
// Imports
import Base from '../layouts/Base.astro';
---

<Base title="Copyright">

	<main class="max-w-[70ch] mx-auto space-y-5 py-24 max-h-dvh font-serif">

    <p>
      Copyright © 2024 Morcxlla. | Todos los derechos reservados.
    </p>

    <p>
      Los iconos utilizados en este sitio web son propiedad de <a class="link link-secondary" href="https://tabler.io/" target="_blank">Tabler.io</a> y se utilizan bajo su licencia correspondiente. Las marcas y logotipos representados por los iconos de <i>Tabler</i> son propiedad de las mismas.
    </p>

    <p>
      Este sitio web está licenciado bajo los términos de la Licencia MIT. Para más detalles, consulte el archivo <a class="link link-secondary" href="https://github.com/morcxlla/blacklist-daisyui-supabase/blob/master/LICENSE" target="_blank">LICENSE</a> incluido en este proyecto.
    </p>

    <p>
      Cualquier uso no autorizado de los materiales de este sitio web puede estar sujeto a las leyes de derechos de autor y marcas registradas aplicables.
    </p>

    <div>
      <button class="btn btn-sm btn-secondary mt-12 font-sans font-medium" onclick="gotoBack()">
        Volver
      </button>
    </div>
    <script defer>
      function gotoBack() {
        window.history.back();
      }
    </script>

	</main>
  
</Layout>