<dialog id="createRecord" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Create re cord</h3>
    <div class="grid grid-cols-2 mt-6 join">
      <input class="input input-bordered input-sm join-item" type="text">
      <input class="input input-bordered input-sm join-item" type="text">
      <input class="input input-bordered input-sm" type="text">
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button class="cursor-default">close</button>
  </form>
</dialog>