<!--
  Sticky para futuras features, y no complicarse
  con la distancia del contenido
-->
<header class="sticky top-0 z-50 px-8 py-4 backdrop-blur shadow-lg border-b border-[#111]">

  <nav class="flex flex-row gap-y-3 justify-between items-center max-w-4xl mx-auto">

    <h1 class="text-2xl font-black">
      <a href="/">
        Blacklist
      </a>
    </h1>

    <slot/>

    <form action="/api/auth/signout">
      <button class="btn" type="submit">Logout</button>
    </form>

  </nav>

</header>